
/* CSS for admin dashboard */

.menu-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    width: 60vh;
    height: 60vh;

    padding: 20px;
}

.menu-box * {
    padding: 5px;
    margin: 5px;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    width: 100%; 
    height: 100%; 
    gap: 20px;
}

.menu > a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    text-decoration: none;
    color: black;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);

    transition-property: transform;
    transition-duration: 0.2s;
}

.menu > a:hover {
    transform: scale(1.1);
}

button[type="submit"] {
    background-color: #04acd2;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #039bbd;
}