
/* CSS for data details page */

.details-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 20px;
}

.details {
    display: grid;
    grid-template-columns: 50% repeat(5,1fr);
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 100%;
    padding: 20px;
    margin: 20px;
}

.details-attribute {
    background-color: #40e0d0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.details-question {
    text-align: left;
}

.details-number {
    text-align: center;
}

.comment-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    
    margin: 20px;
}

.comment-header {
    background-color: #40e0d0;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.comment{
    background-color: #dcdcdc;
    border-radius: 4px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

@media screen and (max-width:600px) {
    .details, .comment-wrapper {
        font-size: 12px;
    }
}