
/* CSS for home page */

.header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.header-wrapper * {
    text-align: justify;
    display: block;
    margin: 10px;
}

.box1-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    place-items: center;
    align-items: center;

    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.box1-wrapper > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.box1-wrapper label {
    grid-column: 1;
    width: 10vw;
}

.box1-wrapper input,
.box1-wrapper select {
    grid-column: 2;
    width: 20vw;
    padding: 5px;
}

.box2-wrapper {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.group-header-wrapper {
    display: grid;
    grid-template-columns: 3% 60% repeat(5, 1fr); 
    place-items: center;
    margin-bottom: 20px;

    font-size: 16px;
    font-weight: bold;
}

.column-wrapper {
    display: grid;
    grid-template-columns: 3% 60% repeat(5, 1fr); 
    margin-bottom: 20px;
}

.column-wrapper > :nth-child(1), .column-wrapper > :nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: start;
}

.column-wrapper > :nth-child(n+3) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 10px 20px;
    margin: 10px;
}

.comment-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-bottom: 20px;
}

.comment-wrapper > div {
    padding: 10px;
}

.comment-wrapper textarea {
    font-size: 16px;
    padding: 10px 20px;
    resize: none;
}

/* logout button */

.logout-btn-wrapper {
    position: absolute;
    transform: translate(-50%,-50%);
    right: 0%;
    top: 5%;
}

.logout-btn {
    background-color: #04acd2;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #039bbd;
}

@media screen and (max-width:760px) {
    .header-wrapper, .box1-wrapper, .column-wrapper {
        font-size: 12px;
    }

    .group-header-wrapper {
        font-size: 12px;
    }

    .column-wrapper > :nth-child(1) {
        visibility: hidden;
    }

    .comment-wrapper, .comment-wrapper textarea{
        font-size: 12px;
    }

    .logout-btn {
        padding: 5px 10px;
        font-size: 12px;
    }
}

/* class to be used inside JS file */

.no-match {
    color: red;
}

.no-match:focus {
    outline-color: red;
}

/* ends classes to be used inside JS file */