
/* CSS for admin login page and data processing pages */

body {
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #f4f4f4;
}

/* login class is used for login and search records */

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: auto;
    width: 338px;

    padding: 36px;
    margin-left: auto;
    margin-right: auto;

    background-color: white;
    box-shadow: 0 2px 3px rgba(0,0,0,0.55);
    border: 1px solid rgba(0,0,0,0.4);
}

/* process-wrapper class is used for create records */

.process-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 36px;
    margin-left: auto;
    margin-right: auto;

    height: auto;
    width: 750px;

    background-color: white;
    box-shadow: 0 2px 3px rgba(0,0,0,0.55);
    border: 1px solid rgba(0,0,0,0.4);
}

/* process class is used for input fields inside process-wrapper class */

.process {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media screen and (max-width:600px) {
    .login, .process-wrapper {
        width: 100vw;
        height: 100vh;
    }

    .process {
        grid-template-columns: repeat(1, 1fr);
    }
}

h2 {
    font-size: 24px;
    margin-bottom: 36px;
}

.logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.error-message {
    background-color: red;
    color: white;
    padding: 2px;
    margin-bottom: 20px;
    text-align: center;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 1px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, select:focus {
    outline-color: #04acd2;
}

input:read-only {
    background-color: #f0f0f0;
}

input:read-only:focus { 
    outline: none;
}

.select-read-only {
    background-color: #f0f0f0;
    outline: none;
    pointer-events: none;
}

label::after {
    background-color: #ffffff;
    font-family: 'Courier New', Courier, monospace;

    display: block;
    position: absolute;
    top:  -15%;
    left: 5%;

    padding: 0px 3px;
    pointer-events: none;
    z-index: 1;
    white-space: nowrap;
}

label[for="username"]::after {
    content: "Username";
}

label[for="password"]::after {
    content: "Password";
}

label[for="instructorName"]::after {
    content: "Instructor Name";
}

label[for="email"]::after {
    content: "Instructor E-mail";
}

label[for="faculty"]::after {
    content: "Instructor Faculty";
}

label[for="semester"]::after {
    content: "Semester";
}

label[for="academicYear"]::after {
    content: "Academic Year";
}

label[for="course"]::after {
    content: "Subject";
}

button[type="submit"] {
    background-color: #04acd2;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;

    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: #039bbd;
}

.logout-btn-wrapper {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    bottom: 5%;
}

.logout-btn {
    background-color: #04acd2;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #039bbd;
}